<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary">Cars</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section id="headsection">
    <ion-text color="primary">
      <h1>Login</h1>
    </ion-text>
  </section>
  <ion-card>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Mobile No. <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required formControlName="mobile" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required formControlName="password" [type]="password"></ion-input>
      </ion-item>
      <ion-button expand='block' color="primary" type="submit" [disabled]="loginForm.invalid">
        Login
      </ion-button>
      <ion-text class="ion-text-center" color="primary">
        <p>Or Fill Sign-Up Form if you are a new user.</p>
      </ion-text>
      <ion-button [routerLink]="['/signup']" routerLinkActive="router-link-active"  expand="block" fill="solid">
        Sign-Up
      </ion-button>
    </form>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-text class="ion-text-center" color="primary">
      <p>© Nishana Health Advisory</p>
    </ion-text>
  </ion-toolbar>
</ion-footer>