
#headsection{
    margin-top: 20px !important;
    ion-text{
        h1{
          padding-left: 20px;
          font-weight: 500;
          line-height: 1.2;
          margin-bottom: 10px !important;
          color: var(--ion-color-primary);
        }
    }
}