<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cars
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Color</ion-label>
            <ion-input [(ngModel)]="color" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Type</ion-label>
            <ion-select [(ngModel)]="type" placeholder="Select Type">
              <ion-select-option value="sedan">Sedan</ion-select-option>
              <ion-select-option value="suv">SUV</ion-select-option>
                <ion-select-option value="small car">Small Car</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-button (click)="getCars()" expand="block" fill="solid" shape="round">
            Filter
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-item *ngFor="let item of cars">
    <ion-label> <h2>{{item?.name | titlecase}} {{item?.manufacturer | titlecase}}</h2>
    <p>{{item?.color}}</p> <p>{{item?.type}}</p></ion-label>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon (click)="createCar()" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
